<%- include("partials/header") -%>

<h1 class="heading">Secrets</h1>
<!-- Add Monsary Card System -->
<a href="/login">Login</a>
<a href="/register">Register</a>
<a href="/userSecret">Compose</a>



<div class="container">
  <div class="card-columns">

    <% userWithSecret.forEach((foundUser,i) => { %>
    <div class="card secret">
      <div class="card-body">
        <p class="card-text"> <%= foundUser.secret %></p>
      </div>
    </div>
    <% }); %>
  </div>
</div>


<%- include("partials/footer") -%>
